:root {
	--header-bg-color: #141414;
	--footer-bg-color: #141414;
	--main-bg-color: #202020;
	--brand-color: rgb(24, 97, 192);
}

.carousel {
	margin: 0.5em auto;
	display: flex;
	gap: 0.5em;
	overflow-x: auto;
	width: calc(100% - 4rem);
	border-radius: .5em;
	scroll-behavior: smooth;
	anchor-name: --carousel;
	scroll-snap-type: x mandatory;
	padding: 0 2rem;
	scroll-marker-group: after;

	&::scroll-marker-group {
		display: flex;
		justify-content: center;
		gap: .5em;
	}
	
	&::-webkit-scrollbar {
		display: none;
	}

	&::scroll-button(right),
	&::scroll-button(left) {
		border: none;
		background-color: var(--brand-color);
		color: #fff;
		height: 40px;
		width: 40px;
		font-size: 1.5rem;
		border-radius: 50%;
		padding-bottom: .1em;
		cursor: pointer;
		position: fixed;
		position-anchor: --carousel;
	}

	&::scroll-button(right) {
		content: '➥';
		position-area: right center;
		translate: -50%;
	}
	&::scroll-button(left) {
		content: '➥';
		transform: rotate(180deg);
		position-area: left center;
		translate: 50%;
	}

	&::scroll-button(right):disabled,
	&::scroll-button(left):disabled {
		cursor: auto;
		opacity: 0.5;
	}
}

.card {
	flex: 0 0 20em;
	aspect-ratio: 5 / 3;
	background-color: var(--header-bg-color);
	border-radius: .5em;
	text-align: center;
	align-content: center;
	scroll-snap-align: start;
	object-fit: cover;

	&::scroll-marker {
		content: '';
		height: 1em;
		width: 1em;
		background-color: var(--header-bg-color);
		border-radius: 50%;
	}
}

@media (max-width: 500px) {
	.card {
		flex: 0 0 100%;
	}
}

header {
	display: flex;
	position: sticky;
	top: 0;
	background-color: var(--header-bg-color);
	align-items: center;
	gap: 1.5rem;
	padding: 1rem 2rem;
	font-size: 0.8rem;

	nav {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	> a:first-child {
		margin-right: auto;
	}
}

main {
	min-height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	font-weight: bold;
	background-color: var(--main-bg-color);
	color: #fff;
	display: flex;
	flex-direction: column;
	padding: 0 5rem;

	h1 {
		font-size: 1.2rem;
		padding: 16px;
		background-color: #c2c2c2;
		border-radius: 6px;
		color: #242424;
	}
}

@media (max-width: 500px) {
	main {
		padding: 0 1rem;
	}
}

footer {
	background-color: var(--footer-bg-color);
	min-height: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.25rem;
	color: #fff;
}