.page {
	--menu-open: closed;

	display: grid;
	grid-template-areas:
		'header header'
		'aside main';
	grid-template-rows: 3rem 1fr;
	transition: all .25s linear;

	&:has(#menu-trigger-control:focus) {
        --menu-open: open;
    }

	grid-template-columns: if(
		style(--menu-open: open): 12rem 1fr;
		else: 3rem 1fr;
	);
}

aside {
	grid-area: aside;
	background-color: rgba(51, 67, 206, 0.87);
	height: 100dvh;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	padding: 0.8rem;
	position: sticky;
	top: 0;
	animation: if(
		style(--menu-open: open): menu-overshoot-in .7s cubic-bezier(0.16, 1, 0.3, 1);
		else: style(--menu-open: open): menu-overshoot-in .7s cubic-bezier(0.16, 1, 0.3, 1);
	);

	svg {
		cursor: pointer;
		transition: opacity 0.4s;
		height: 1.2rem;
		align-self: if(
			style(--menu-open: closed): center;
			else: start;
		);

		&:hover {
			opacity: 0.6;
		}
	}

	.menu-options {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		ul {
			display: flex;
			flex-direction: column;
			gap: 0.8rem;

			li {
				display: flex;
				align-items: center;
				gap: 0.8rem;
				cursor: pointer;
				transition: opacity .6s;
				position: relative;

				span {
					font-size: 0.85rem;
					display: if(
						style(--menu-open: closed): none;
						else: block;
					);
				}

				&:hover {
					opacity: 0.7;

					&::after {
						content: '';
						height: 1px;
						background-color: #fff;
						width: 100%;
						position: absolute;
						bottom: -4px;
						transform-origin: 1rem;
						animation: grow .2s linear;
						display: if(
							style(--menu-open: open): block;
							else: none;
						);
					}

					/* Tooltip */
					&::before {
						content: attr(title);
						position: absolute;
						background-color: #fff;
						color: #101010;
						transform: translateX(2rem);
						border-radius: 4px;
						padding: 0.2rem 0.4rem;
						font-size: 0.8rem;
						animation: fade-in-left .3s;
						display: if(
							style(--menu-open: open): none;
						);
					}
				}
			}
		}

		.extra-options {
			position: fixed;
			bottom: 0;
		}
	}

	[htmlfor='menu-trigger-control'] {
		input {
			position: absolute;
			clip: rect(0, 0, 0, 0);
		}

		.open-icon {
			height: 1.5rem;
			justify-self: center;
			display: if(
				style(--menu-open: open): none;
				else: block;
			)
		}

		.close-icon {
			height: 1.5rem;
			justify-self: end;
			display: if(
				style(--menu-open: open): block;
				else: none;
			)
		}

		&:hover::before {
			content: attr(title);
			position: absolute;
			background-color: #fff;
			color: #101010;
			transform: translateX(2rem);
			border-radius: 4px;
			padding: 0.2rem 0.4rem;
			font-size: 0.8rem;
			animation: fade-in-left .3s;
			display: if(
				style(--menu-open: open): none;
			);
		}
	}
}

@keyframes grow {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}

@keyframes menu-overshoot-in {
	0% {
		filter: blur(0);
		transform: translateX(0);
	}

	30% {
		filter: blur(2px);
		transform: translateX(-64px);
	}

	100% {
		filter: blur(0);
		transform: translateX(0);
	}
}

@keyframes fade-in-left {
	from {
		opacity: 0;
		transform: translateX(1rem);
	}
	to {
		opacity: 1;
		transform: translateX(2rem);
	}
}

header {
	grid-area: header;
	background-color: rgba(25, 38, 156, 0.87);
	width: 100%;
	height: 3rem;
	display: flex;
	align-items: center;
	padding: 0.5rem 0.8rem;

	.app-logo {
		margin-right: auto;
	}

	.nav-options {
		display: flex;
		align-items: center;
		gap: 1.2rem;
		font-size: 0.9rem;
	}
}

main {
	grid-area: main;
	background-color: #141414;
	width: 100%;
	padding: 3rem;
	color: #fff;
	font-weight: semibold;

	h1 {
		font-size: 1.6rem;
		font-weight: 400;
	}

	.cards-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0.6rem;
		
		.card {
		width: 100%;
		height: 12rem;
		background-color: #303030;
		border-radius: .4rem;
		}
	}
}

html {
  ::-webkit-scrollbar {
  	width: 4px;
  }
  
  ::-webkit-scrollbar-track {
  	background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
  	background: rgba(255, 255, 255, 0.2);
  	backdrop-filter: blur(10px);
  	border-radius: 999px;
  	border: 1px solid rgba(255, 255, 255, 0.1);
  }
}