#page-height {
  display: block;
}

#video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.content {
    position: fixed;
    top: 40px;
    left: 60px;
    z-index: 999;

    h1 {
      z-index: 2;
      color: #fff;
      font-family: Ubuntu;
    }
}
